<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>E learning</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="robots" content="all,follow">
    <!-- Bootstrap CSS-->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.violet.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.fontastic.css') }}">
    <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" />

  </head>
  <body>
    <!-- Side Navbar -->
    <nav class="side-navbar">
      <div class="side-navbar-wrapper">
        <!-- Sidebar Header    -->
        <div class="sidenav-header d-flex align-items-center justify-content-center">
          <!-- User Info-->
            {% if current_user.is_authenticated %}
            <div class="sidenav-header-inner text-center"><i class="fa fa-user"></i>
            <h2 class="h5">{{ current_user.username }}</h2><span>Student</span>
              {% endif %}
          </div>
          <!-- Small Brand information, appears on minimized sidebar-->
          <div class="sidenav-header-logo"><a href="index.html" class="brand-small text-center"> <strong>B</strong><strong class="text-primary">D</strong></a></div>
        </div>
        <!-- Sidebar Navigation Menus-->
        <div class="main-menu">
          <h5 class="sidenav-heading">Main</h5>
          <ul id="side-main-menu" class="side-menu list-unstyled">
            <li><a href="{{ url_for('main.index') }}"> <i class="fa fa-home"></i>Home</a></li>
            <li><a href="/"> <i class="fa fa-book"></i>Books</a></li>
            <li><a href="/"> <i class="fa fa-users"></i>Students</a></li>
            <li><a href="/"> <i class="fa fa-users"></i>Teachers</a></li>
            <li><a href="/"> <i class="fa fa-users"></i>Parents Management</a></li>
            <li><a href="/"> <i class="fa fa-calendar"></i>Attendance</a></li>
            <li><a href="/"> <i class="fa fa-graduation-cap"></i>Exams</a></li>
            <li><a href="/"> <i class="fa fa-book"></i>Library</a></li>
            <li><a href="/"> <i class="fa fa-car"></i>transport</a></li>
            <li><a href="#exampledropdownDropdown" aria-expanded="false" data-toggle="collapse"> <i class="fa fa-users fa-caret"></i>Example dropdown </a>
              <ul id="exampledropdownDropdown" class="collapse list-unstyled ">
                <li><a href="#">Page</a></li>
                <li><a href="#">Page</a></li>
                <li><a href="#">Page</a></li>
              </ul>
            </li>
          </ul>
        </div>
      </div>
    </nav>
    <div class="page">
      <!-- navbar-->
      <header class="header">
        <nav class="navbar">
          <div class="container-fluid">
            <div class="navbar-holder d-flex align-items-center justify-content-between">
              <div class="navbar-header"><a id="toggle-btn" href="#" class="menu-btn"><i class="fa fa-bars"> </i></a><a href="index.html" class="navbar-brand">
                  <div class="brand-text d-none d-md-inline-block"><span>E Learning</span></div></a></div>
              <ul class="nav-menu list-unstyled d-flex flex-md-row align-items-md-center">
                <!-- Profile dropdown    -->
                  {% if current_user.is_authenticated %}
                      <li class="nav-item dropdown"><a id="languages" rel="nofollow" data-target="#" href="#" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" class="nav-link language dropdown-toggle"><span>{{ current_user.username }}</span></a>
                    {% else %}
                        <li><a href="{{ url_for('auth.login') }}">Sign in</a></li>
                    {% endif %}
                  <ul aria-labelledby="languages" class="dropdown-menu">
                    <li><a rel="nofollow" href="{{url_for('main.profile',uname=current_user.username)}}" class="dropdown-item"><span>Profile</span></a></li>
                    <li><a rel="nofollow" href="{{url_for('auth.logout')}}" class="dropdown-item"> <span>Logout</span></a></li>
                  </ul>
                </li>
              </ul>
            </div>
          </div>
        </nav>
      </header>

    {% block content %}

    {% endblock %}


      <footer class="main-footer">
        <div class="container-fluid">
          <div class="row">
            <div class="col-sm-6">
              <p>Copyright &copy; 2020 | E learning</p>
            </div>
          </div>
        </div>
      </footer>
    </div>

  <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>
  </body>
</html>
