{% extends 'base.html'%}
{% import 'bootstrap/wtf.html' as wtf %}
{% block content %}
<div class="container">
  {{wtf.quick_form(course_form)}}
  
</div>
<div class="container">
<h1 class="text-center">  COURSES</h1>
{%if courses%}
{% for items in courses  %}

    <div class="card">
    <div class="card-body text-center">
      <h5>Module:{{items.module}}</h5>
      <h5>Topic :{{ items.topic }}</h5>
      <h5> Course: {{items.course}}</h5>
    </div>
    <div class="card-footer text-center">
<a href="{{url_for('main.new_exam',course_id=items.id)}}"><button class="btn btn-default">create exam</button></a>
    </div>
    
    </div>
{% endfor %}
{%else%}


<h1 class="text-center"> no courses available </h1>


{%endif%}
</div>
{% endblock  %}